## Ideas
1. First see if there is a variance in the data for toxisity (motivation)
2. make a simple learning model for finding out if a user find something offensive

In [ ]:
import pandas as pd
import numpy as np

In [47]:
comments_info = pd.read_csv("./data/toxicity_annotated_comments.tsv", sep='\t')
comments_info.set_index("rev_id", inplace=True)
comments_people_bridge = pd.read_csv("./data/toxicity_annotations.tsv", sep='\t')
people_info = pd.read_csv("./data/toxicity_worker_demographics.tsv", sep='\t')

In [58]:
def get_comment_from_id (rev_id):
    return comments_info.loc[rev_id]

def to_readalbe_text (text):
    return text.replace("NEWLINE_TOKEN", "\n")

In [20]:
comments_people_bridge_var = comments_people_bridge.groupby(['rev_id']).var()

                worker_id  toxicity  toxicity_score
rev_id
2232.0       2.397896e+06  0.100000        0.488889
4216.0       3.606662e+05  0.000000        0.500000
8953.0       4.229927e+05  0.000000        0.100000
26547.0      1.838173e+06  0.000000        0.711111
28959.0      1.159868e+06  0.177778        0.622222
...                   ...       ...             ...
699848324.0  7.384921e+05  0.000000        0.266667
699851288.0  2.008386e+05  0.000000        0.266667
699857133.0  9.439073e+05  0.000000        0.277778
699891012.0  7.014347e+05  0.266667        1.211111
699897151.0  2.678121e+05  0.000000        0.266667

[159686 rows x 3 columns]

In [42]:
comments_people_bridge_mean = comments_people_bridge.groupby(['rev_id']).mean()

comments_people_bridge_mean.where(comments_people_bridge_mean["toxicity_score"] < 0).dropna()

             worker_id  toxicity  toxicity_score
rev_id
597212.0        2556.7       0.6            -0.6
608166.0        2802.6       0.2            -0.1
682829.0        2422.5       0.5            -0.4
782604.0        2136.3       0.2            -0.1
783481.0        1789.6       0.4            -0.4
...                ...       ...             ...
699661834.0      119.9       0.8            -0.9
699664687.0     1791.2       1.0            -1.4
699668748.0     1793.8       0.3            -0.3
699760682.0     3270.4       0.4            -0.3
699891012.0     3153.6       0.4            -0.1

[29457 rows x 3 columns]

In [35]:
comments_people_bridge.where(comments_people_bridge["toxicity_score"] >= 3).dropna()

Empty DataFrame
Columns: [rev_id, worker_id, toxicity, toxicity_score]
Index: []

In [59]:
print(to_readalbe_text(get_comment_from_id(699848324.0)["comment"]))

`


These sources don't exactly exude a sense of impartiality. Newsweek is a *better* start, but it still is an article written by someone with an ax to grind (Would an article from Breitbart be as easily accepted? I hope not) but that page from that Massanari woman seems a bit lacking, especially considering it uses such an inflammatory, biased word as ``toxic`` in its own abstract.

I doubt my words will have much effect since the consensus by wiki admins (the only ones who really matter around here) seems to be stuck-in-place, but for anyone else reading this, consider the damn sources. Single studies, politicos writting polemics, etc. etc.   `

In [55]:
comments_info

,comment,year,logged_in,ns,sample,split
rev_id,,,,,,
2232.0,This:NEWLINE_TOKEN:One can make an analogy in ...,2002,True,article,random,train
4216.0,`NEWLINE_TOKENNEWLINE_TOKEN:Clarification for ...,2002,True,user,random,train
8953.0,Elected or Electoral? JHK,2002,False,article,random,test
26547.0,`This is such a fun entry. DevotchkaNEWLINE_...,2002,True,article,random,train
28959.0,Please relate the ozone hole to increases in c...,2002,True,article,random,test
...,...,...,...,...,...,...
699848324.0,`NEWLINE_TOKENNEWLINE_TOKENNEWLINE_TOKENThese ...,2016,True,article,blocked,train
699851288.0,NEWLINE_TOKENNEWLINE_TOKENThe Institute for Hi...,2016,True,article,blocked,test
699857133.0,NEWLINE_TOKEN:The way you're trying to describ...,2016,True,article,blocked,dev
699891012.0,NEWLINE_TOKENNEWLINE_TOKEN== Warning ==NEWLINE...,2016,True,user,blocked,train
699897151.0,Alternate option===NEWLINE_TOKENIs there perha...,2016,True,article,blocked,test